body {
  background: #FAFAFA;
}

.text-center {
  text-align: center;
}

.app-title {
  margin: 0;
  line-height: 40px;
}

.company-link {
  color: black;
  text-decoration: underline;
}

.company-link:hover {
  color: white;
  background-color: black;
  padding-left: 5px;
  padding-right: 5px;
}